<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.3.xsd
		http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context-4.3.xsd">

	<!-- cfg target class -->
	<bean id="shopping" class="com.ps.service.ShoppingStore"/>
	
	<!-- cfg Aspect class -->
	<bean id="expAspect" class="com.ps.advice.CommonExceptionLogger"/>
	
	<!-- enable AspectjAOP -->
	<aop:config>
		<aop:pointcut expression="execution(float com.ps.service.ShoppingStore.calculateSingleProductBillAmt(..))" id="ptc1"/>
		
		<aop:aspect ref="expAspect">
			<aop:after-throwing method="exceptionLogger" pointcut-ref="ptc1" throwing="ex"/>
		</aop:aspect>
	</aop:config>

</beans>
